@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Palette URL: http://paletton.com/#uid=20j0u0kllllaFw0g0qFqFg0w0aF */
$color-primary-0: #AA5F39;	// Main Primary color */
$color-primary-1: #FFC7AA;
$color-primary-2: #D48E6A;
$color-primary-3: #803915;
$color-primary-4: #551D00;

$color-complement-0: #267158;	// Main Complement color */
$color-complement-1: #71AA97;
$color-complement-2: #478D76;
$color-complement-3: #0E553E;
$color-complement-4: #003926;

$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $color-primary-0;
$grey-light: $color-primary-4;
$primary: $color-primary-3;
$link: $color-complement-2;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


@import "../bulma-0.8.0/bulma.sass";
